version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - ./model:/app/model
    environment:
      - FLASK_ENV=development
      - MONGO_URI=mongodb://mongo:27017/mental_health_db
      - CHROMA_HOST=chromadb
      - CHROMA_PORT=8000
    depends_on:
      - mongo
      - chromadb

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  chromadb:
    image: chromadb/chroma:latest
    ports:
      - "8000:8000"
    volumes:
      - chroma_data:/chroma/chroma

volumes:
  mongo_data:
  chroma_data:
